.home {
    --btn-rd-sz: 100px;
    --btn-rd-sz-l: calc(var(--btn-rd-sz) * 1.5);
    --btn-rd-sz-s: calc(var(--btn-rd-sz) * .5);
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
}

.home h1 {
    color: var(--cl-hot);
    text-shadow: var(--shdw-size) var(--shdw-size) var(--shdw-blr) var(--cl-bg-highlight),
				var(--shdw-size-i) var(--shdw-size-i) var(--shdw-blr) var(--cl-bg-shadow);
    background-clip: text;
}

.btnRd {
    width: var(--btn-rd-sz);
    height: var(--btn-rd-sz);
}

.btnRdLarge {
    width: var(--btn-rd-sz-l);
    height: var(--btn-rd-sz-l);

    display: grid;
    align-items: center;
    justify-content: center;
}

.btnRdSmall {
    width: var(--btn-rd-sz-s);
    height: var(--btn-rd-sz-s);
}

.btnInner {
    height: calc(var(--btn-rd-sz-l) - 20px);
    width: calc(var(--btn-rd-sz-l) - 20px);

    border-radius: 50%;
    color: var(--cl-fg);
    background-color: var(--cl-hot);
	box-shadow: var(--shdw-size) var(--shdw-size) var(--shdw-blr) var(--cl-bg-highlight),
                var(--shdw-size-i) var(--shdw-size-i) var(--shdw-blr) var(--cl-bg-shadow);
    
    display: grid;
    align-content: center;
    justify-content: center;
    font-size: 56px;
    font-weight: bold;
    padding-left: 10px;
    padding-bottom: 8px;
}

.card {
    background: var(--cl-bg);
    box-shadow: var(--shdw-size) var(--shdw-size) var(--shdw-blr) var(--cl-bg-shadow), var(--shdw-size-i) var(--shdw-size-i) var(--shdw-blr) var(--cl-bg-highlight);
    border-radius: 10px;
    padding: 1rem;
}

.card h1 {
    padding: 0;
    margin: 0;
    font-size: 2rem;
    align-self: start;
}

.cardText {
    font-size: 1rem;
    color: var(--cl-fg);
    box-shadow: var(--shdw-size) var(--shdw-size) var(--shdw-blr) var(--cl-bg-highlight), var(--shdw-size-i) var(--shdw-size-i) var(--shdw-blr) var(--cl-bg-shadow);
    padding: 1rem;
    margin-top: 1rem;
    width: 100%;
}

.action {
    align-items: center;
    display: grid;
    justify-content: center;
    margin: 5rem auto 0;
    justify-items: center;
    grid-template-columns: .5fr 1fr 1fr 1fr .5fr;
}