.btn {
	--btn-sz: 100%;
	--shdw-size-i: calc(-1 * var(--shdw-size));
	--shdw-blr: calc(var(--shdw-size) * 1.5);
	width: var(--btn-sz);
	height: var(--btn-sz);
	border: none;
	fill: currentColor;
	cursor: pointer;
	display: grid;
	align-items: center;
	justify-items: center;
	position: relative;
	padding: 0;
	font-size: larger;
	text-transform: uppercase;
}

.btn {
	background-color: var(--cl-bg);
    border-radius: 50%;
	color: var(--cl-fg);
	box-shadow: var(--shdw-size) var(--shdw-size) var(--shdw-blr) var(--cl-bg-shadow),
				var(--shdw-size-i) var(--shdw-size-i) var(--shdw-blr) var(--cl-bg-highlight);
}

.btnInner {
	box-shadow: var(--shdw-size) var(--shdw-size) var(--shdw-blr) var(--cl-bg-highlight),
		var(--shdw-size-i) var(--shdw-size-i) var(--shdw-blr) var(--cl-bg-shadow);
	
	border-radius: 50%;
    display: grid;
    align-items: center;
    justify-items: center;
    width: 85%;
	height: 85%;
	padding-top: 3%;
}

/* .btn:active {
	background-color: var(--cl-hot);
	box-shadow: var(--shdw-size) var(--shdw-size) var(--shdw-blr) var(--cl-hot-shadow), 
		var(--shdw-size-i) var(--shdw-size-i) var(--shdw-blr) var(--cl-hot-highlight);
} */