.countdown {
    border-radius: 50%;
    background: linear-gradient(145deg, var(--cl-bg-highlight), var(--cl-bg-shadow));
    /* box-shadow:  10px 10px 10px var(--cl-bg-highlight), 
                 -10px -10px 10px var(--cl-bg-shadow); */
    height: 300px;
    margin: 60px auto;
    width: 300px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.bar {
    background: var(--cl-hot);
    /* box-shadow: inset 5px 5px 5px #00437c,
        inset -5px -5px 5px #0069c2; */
    box-shadow: inset 5px 5px 10px var(--cl-hot-shadow),
                inset -5px -5px 10px var(--cl-hot-highlight);
    border-radius: 50%;
    display: grid;
    align-items: center;
   -ms-flex-pack: center;
    justify-content: center;
    height: 260px;
    width: 260px;
}

.barInner {
    background: var(--cl-bg);
    /* box-shadow: -5px -5px 5px #0069c2, 5px 5px 5px #00437c; */
    box-shadow:     -5px -5px 10px var(--cl-hot-highlight),
                    5px 5px 10px var(--cl-hot-shadow);
    border-radius: 50%;
    height: 220px;
    width: 220px;
}
