.card {
	--shdw-size-i: calc(-1 * var(--shdw-size));
    --shdw-blr: calc(var(--shdw-size) * 1.5);
}

.card {
	background: var(--cl-bg);
	box-shadow: var(--shdw-size) var(--shdw-size) var(--shdw-blr) var(--cl-bg-shadow), 
                var(--shdw-size-i) var(--shdw-size-i) var(--shdw-blr) var(--cl-bg-highlight);
    border-radius: 10px;
}
