:root {
	--cl-bg: #444449;
	--cl-bg-highlight: #6d6d75;
	--cl-bg-shadow: #1b1b1d;
	--cl-fg: #fff;
	--cl-hot: hotpink;
	--cl-hot-highlight: #ffa8ff;
	--cl-hot-shadow: #662a48;
	--cl-secondary: #00569f; /* #578dba */
	--cl-secondary-highlight: #008afe; /* #6fb4ee */
	--cl-secondary-shadow: #002240;

	--shdw-size: 2px;
}

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: var(--cl-bg);
	font-family: sans-serif;
	font-weight: 400;
	color: var(--cl-fg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	margin: 0 auto;
	max-width: 900px;
	padding: 60px 20px;
}
